AppPengguna/Service References/SvcSatkerSelect/SF_ROW_R_SATKER_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_R_SATKER" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_R_SATKER" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_KD_WILESELON" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_R_SATKER" nillable="true" type="db:BPSIMAN.STAB_R_SATKER" />
      </sequence>
    </complexType>
  </element>
  <complexType name="BPSIMAN.STAB_R_SATKER">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_R_SATKER_ITEM" nillable="true" type="db:BPSIMAN.SROW_R_SATKER" />
    </sequence>
  </complexType>
  <complexType name="BPSIMAN.SROW_R_SATKER">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string65" />
      <element db:type="CHAR" minOccurs="0" name="KD_JK" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_SATKER" nillable="true" type="db:string255" />
      <element db:type="VARCHAR2" minOccurs="0" name="KODE_KAB_KOTA" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_KAB_KOTA" nillable="true" type="db:string40" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_TELP_KANTOR" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_FAX_KANTOR" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="EMAIL_KANTOR" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KORWIL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KPKNL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KANWIL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KPPN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NIP" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NAMA" nillable="true" type="db:string60" />
      <element db:type="VARCHAR2" minOccurs="0" name="JABATAN" nillable="true" type="db:string60" />
      <element db:type="VARCHAR2" minOccurs="0" name="NIP2" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NAMA2" nillable="true" type="db:string60" />
      <element db:type="VARCHAR2" minOccurs="0" name="JABATAN2" nillable="true" type="db:string60" />
      <element db:type="CHAR" minOccurs="0" name="UAPB" nillable="true" type="db:string3" />
      <element db:type="CHAR" minOccurs="0" name="UAPPBE1" nillable="true" type="db:string2" />
      <element db:type="CHAR" minOccurs="0" name="UAPPBW" nillable="true" type="db:string4" />
      <element db:type="CHAR" minOccurs="0" name="UAKPB" nillable="true" type="db:string6" />
      <element db:type="CHAR" minOccurs="0" name="UAPKPB" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_UAKPB" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER_PARENT" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_WILESELON" nillable="true" type="db:string9" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KORWIL" nillable="true" type="db:string4" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KORWIL" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ESELON1" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_ESELONKL" nillable="true" type="db:string5" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_ESELON1" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_ESELON1" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KL" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KL" nillable="true" type="db:string60" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KANWIL" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="URKPKNL" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER_PARENT" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER_PARENT" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_JK" nillable="true" type="db:string65" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="string2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="string255">
    <restriction base="string">
      <maxLength value="255" />
    </restriction>
  </simpleType>
  <simpleType name="string10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="string40">
    <restriction base="string">
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string60">
    <restriction base="string">
      <maxLength value="60" />
    </restriction>
  </simpleType>
  <simpleType name="string3">
    <restriction base="string">
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="string4">
    <restriction base="string">
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="string6">
    <restriction base="string">
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="string9">
    <restriction base="string">
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string5">
    <restriction base="string">
      <maxLength value="5" />
    </restriction>
  </simpleType>
</schema>