AppPengguna/Service References/SvcPersediaanRwytPengguna/SF_ROW_SEDIA_RWYT_PENGGUNA_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_SEDIA_RWYT_PENGGUNA" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_SEDIA_RWYT_PENGGUNA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_COUNT" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_SEDIA_RWYT_PENGGUNA" nillable="true" type="db:BPSIMAN.STAB_SEDIA_RWYT_PENGGUNA" />
      </sequence>
    </complexType>
  </element>
  <complexType name="BPSIMAN.STAB_SEDIA_RWYT_PENGGUNA">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_SEDIA_RWYT_PENGGUNA_ITEM" nillable="true" type="db:BPSIMAN.SROW_SEDIA_RWYT_PENGGUNA" />
    </sequence>
  </complexType>
  <complexType name="BPSIMAN.SROW_SEDIA_RWYT_PENGGUNA">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SEDIA_RWYT_PENGGUNA" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SEDIA" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_BRG" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_ASET" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NOREG" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_SK_PENETAPAN" nillable="true" type="db:string50" />
      <element db:type="DATE" minOccurs="0" name="TGL_SK" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_KONTRAK" nillable="true" type="db:string50" />
      <element db:type="DATE" minOccurs="0" name="TGL_KONTRAK" nillable="true" type="dateTime" />
      <element db:type="FLOAT" minOccurs="0" name="JNK_WAKTU" nillable="true" type="float" />
      <element db:type="DATE" minOccurs="0" name="TGL_MULAI" nillable="true" type="dateTime" />
      <element db:type="DATE" minOccurs="0" name="TGL_SELESAI" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="PHK_PENGGUNA" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="ID_MUTASI_DTL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_SATKER" nillable="true" type="db:string255" />
      <element db:type="VARCHAR2" minOccurs="0" name="KET" nillable="true" type="db:string255" />
      <element db:type="VARCHAR2" minOccurs="0" name="NMFILE" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="TYPE_DOC" nillable="true" type="db:string30" />
      <element db:type="CHAR" minOccurs="0" name="TERAKHIR_YN" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_PMK" nillable="true" type="db:string50" />
      <element db:type="CHAR" minOccurs="0" name="KD_PELAYANAN" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_KELOLA" nillable="true" type="db:string100" />
      <element db:type="CHAR" minOccurs="0" name="KD_STATUS" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_STATUS" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="FILE_EXISTS" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="string10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="string255">
    <restriction base="string">
      <maxLength value="255" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string1">
    <restriction base="string">
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="string2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
</schema>