AppPengguna/Service References/SvcKelViewDok/SP_TIKET_KELOLA_DOK_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TIKET_KELOLA_DOK" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TIKET_KELOLA_DOK" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="4" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
        <element db:index="5" db:type="NUMBER" minOccurs="0" name="P_ID_DOK_LKP" nillable="true" type="decimal" />
        <element db:index="6" db:type="VARCHAR2" minOccurs="0" name="P_NO_TIKET_KELOLA" nillable="true" type="string" />
        <element db:index="7" db:type="CHAR" minOccurs="0" name="P_KD_DOK" nillable="true" type="string" />
        <element db:index="8" db:type="NUMBER" minOccurs="0" name="P_ID_USER" nillable="true" type="decimal" />
        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_NM_FILE" nillable="true" type="string" />
        <element db:index="10" db:type="DATE" minOccurs="0" name="P_TGL_DOK" nillable="true" type="string" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_NO_DOK" nillable="true" type="string" />
        <element db:index="12" db:type="BLOB" minOccurs="0" name="P_FILE_DOK" nillable="true" type="base64Binary" />
        <element db:index="13" db:type="DATE" minOccurs="0" name="P_TGL_UPLOAD" nillable="true" type="string" />
        <element db:index="14" db:type="VARCHAR2" minOccurs="0" name="P_CATATAN" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
        <element db:index="3" db:type="BLOB" minOccurs="0" name="PO_FILE_DOK" nillable="true" type="base64Binary" />
      </sequence>
    </complexType>
  </element>
</schema>