AppPengguna/Service References/SvcWasdalPSPAllCud/SP_SK_WASDAL_BMN_PSP_sp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_SK_WASDAL_BMN_PSP" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_SK_WASDAL_BMN_PSP" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_SK_KEPUTUSAN" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_ID_ASET" nillable="true" type="string" />
        <element db:index="3" db:default="true" db:type="NUMBER" minOccurs="0" name="P_KUANTITAS" nillable="true" type="decimal" />
        <element db:index="4" db:default="true" db:type="NUMBER" minOccurs="0" name="P_NILAI_PERSETUJUAN" nillable="true" type="decimal" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_KD_STATUS" nillable="true" type="string" />
        <element db:index="6" db:type="CHAR" minOccurs="0" name="P_IS_ALLBMN" nillable="true" type="string" />
        <element db:index="7" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
        <element db:index="8" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_NM_PHK_LAIN" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="10" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>