AppPengguna/Service References/SvcTLBongkaranCud/SP_TL_CUD_BONGKARAN_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TL_CUD_BONGKARAN" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TL_CUD_BONGKARAN" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_ID_TL_WASDAL_BNK" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_ID_SK_BNK" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_SK_KEPUTUSAN_BNK" nillable="true" type="string" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_JNS_BUKTI_LAKSANAAN" nillable="true" type="string" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_NO_BUKTI_LAKSANA" nillable="true" type="string" />
        <element db:index="6" db:type="DATE" minOccurs="0" name="P_TGL_BUKTI_LAKSANA" nillable="true" type="dateTime" />
        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_KD_PELAYANAN" nillable="true" type="string" />
        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_KET" nillable="true" type="string" />
        <element db:index="9" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="10" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>