AppPengguna/Service References/SvcWasdalLainTLBASTFile/SP_BAST_FILE_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_BAST_FILE" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_BAST_FILE" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="5" db:type="NUMBER" minOccurs="0" name="P_ID_TL_WASDAL_GUNA" nillable="true" type="decimal" />
        <element db:index="6" db:type="NUMBER" minOccurs="0" name="P_ID_SK_WASDAL" nillable="true" type="decimal" />
        <element db:index="7" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
        <element db:index="3" db:type="BLOB" minOccurs="0" name="PO_FILE_BAST" nillable="true" type="base64Binary" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="PO_NM_FILE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>