AppPengguna/Service References/SvcWasdalTukarPnbpCud/SP_CUD_WASDAL_TUKAR_PNBP_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_CUD_WASDAL_TUKAR_PNBP" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_CUD_WASDAL_TUKAR_PNBP" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_ID_WASDAL_PNBP" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_ID_TL_WASDAL_PINDAHTANGAN" nillable="true" type="decimal" />
        <element db:index="3" db:type="NUMBER" minOccurs="0" name="P_ID_SK_WASDAL_PINDAHTANGAN" nillable="true" type="decimal" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_SK_KEPUTUSAN" nillable="true" type="string" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_NTPN" nillable="true" type="string" />
        <element db:index="6" db:type="DATE" minOccurs="0" name="P_TGL_SETOR" nillable="true" type="string" />
        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_NTB" nillable="true" type="string" />
        <element db:index="8" db:type="DATE" minOccurs="0" name="P_TGL_TRANSAKSI" nillable="true" type="string" />
        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_NM_PENYETOR" nillable="true" type="string" />
        <element db:index="10" db:type="VARCHAR2" minOccurs="0" name="P_KD_AKUN" nillable="true" type="string" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_UR_AKUN" nillable="true" type="string" />
        <element db:index="12" db:type="NUMBER" minOccurs="0" name="P_NILAI_PNBP" nillable="true" type="decimal" />
        <element db:index="13" db:type="NUMBER" minOccurs="0" name="P_ID_SATKER" nillable="true" type="decimal" />
        <element db:index="14" db:type="VARCHAR2" minOccurs="0" name="P_KET" nillable="true" type="string" />
        <element db:index="15" db:type="VARCHAR2" minOccurs="0" name="P_KD_BILLING" nillable="true" type="string" />
        <element db:index="16" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="17" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="18" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>