AppPengguna/Service References/SvcMonSatkerGunaA242/SF_MON_GUNA_SATKER_A242_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_GUNA_SATKER_A242" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_GUNA_SATKER_A242" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_MON_GUNA_SATKER_A242" nillable="true" type="db:WASDAL.STAB_MON_GUNA_SATKER_A242" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.STAB_MON_GUNA_SATKER_A242">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_MON_GUNA_SATKER_A242_ITEM" nillable="true" type="db:WASDAL.SROW_MON_GUNA_SATKER_A242" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.SROW_MON_GUNA_SATKER_A242">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SK_WASDAL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_BRG" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SSKEL" nillable="true" type="db:string65" />
      <element db:type="NUMBER" minOccurs="0" name="NUP" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="LUAS" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="SK_KEPUTUSAN" nillable="true" type="db:string70" />
      <element db:type="DATE" minOccurs="0" name="TGL_SK" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="PERIODE" nillable="true" type="db:string1" />
      <element db:type="DATE" minOccurs="0" name="DARI_TGL" nillable="true" type="dateTime" />
      <element db:type="DATE" minOccurs="0" name="SD_TGL" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_REKAM_PERJANJIAN" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_REKAM_PERJANJIAN" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU_TL" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="PERIODE_TL" nillable="true" type="db:string1" />
      <element db:type="DATE" minOccurs="0" name="DARI_TGL_TL" nillable="true" type="dateTime" />
      <element db:type="DATE" minOccurs="0" name="SD_TGL_TL" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="SISA_WAKTU" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_PERJANJIAN" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_BAST" nillable="true" type="db:string50" />
      <element db:type="DATE" minOccurs="0" name="TGL_BAST" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_BUKTI_LAKSANA" nillable="true" type="db:string70" />
      <element db:type="DATE" minOccurs="0" name="TGL_BUKTI_LAKSANA" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NTPN" nillable="true" type="db:string20" />
      <element db:type="DATE" minOccurs="0" name="TGL_TRANSAKSI" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_PNBP_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="SK_HAPUS" nillable="true" type="db:string70" />
      <element db:type="DATE" minOccurs="0" name="TGL_SK_HAPUS" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="TRANSAKSI_SIMAK" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="KESESUAIAN" nillable="true" type="db:string20" />
    </sequence>
  </complexType>
  <simpleType name="string10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="string70">
    <restriction base="string">
      <maxLength value="70" />
    </restriction>
  </simpleType>
  <simpleType name="string1">
    <restriction base="string">
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
</schema>