AppPengguna/Service References/SvcThnAnggaranCrud/SP_T_THN_ANGGARAN_sp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_T_THN_ANGGARAN" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_T_THN_ANGGARAN" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="5" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
        <element db:index="6" db:type="NUMBER" minOccurs="0" name="P_ID_THN_ANGGARAN" nillable="true" type="decimal" />
        <element db:index="7" db:type="NUMBER" minOccurs="0" name="P_THN_ANGGARAN" nillable="true" type="decimal" />
        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_KETERANGAN" nillable="true" type="string" />
        <element db:index="9" db:type="NUMBER" minOccurs="0" name="P_ID_USER" nillable="true" type="decimal" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
        <element db:index="3" db:type="NUMBER" minOccurs="0" name="PO_ID_THN_ANGGARAN" nillable="true" type="decimal" />
        <element db:index="4" db:type="NUMBER" minOccurs="0" name="PO_THN_ANGGARAN" nillable="true" type="decimal" />
      </sequence>
    </complexType>
  </element>
</schema>