AppPengguna/Service References/SvcKelDokLengkap/SF_ROW_ASET_KELOLA_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_ASET_KELOLA" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_ASET_KELOLA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_NO_TIKET_KELOLA" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_ASET_KELOLA" nillable="true" type="db:DBKELOLA.STAB_ASET_KELOLA" />
      </sequence>
    </complexType>
  </element>
  <complexType name="DBKELOLA.STAB_ASET_KELOLA">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_ASET_KELOLA_ITEM" nillable="true" type="db:DBKELOLA.SROW_ASET_KELOLA" />
    </sequence>
  </complexType>
  <complexType name="DBKELOLA.SROW_ASET_KELOLA">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_DOK_LKP" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="KD_DOK" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_DOK" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_FILE" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_DOK" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_DOK" nillable="true" type="db:string50" />
      <element db:type="CHAR" minOccurs="0" name="IS_LENGKAP" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="CAT_KELENGKAPAN" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_UPLOAD" nillable="true" type="dateTime" />
    </sequence>
  </complexType>
  <simpleType name="string2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string1">
    <restriction base="string">
      <maxLength value="1" />
    </restriction>
  </simpleType>
</schema>