AppPengguna/Service References/SvcWasdalPTTukarDetilCud/SP_SK_WASDAL_BMN_PT_TUKAR_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_SK_WASDAL_BMN_PT_TUKAR" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_SK_WASDAL_BMN_PT_TUKAR" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_ID_SK_WASDAL_PINDAHTANGAN" nillable="true" type="decimal" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_SK_KEPUTUSAN" nillable="true" type="string" />
        <element db:index="3" db:type="DATE" minOccurs="0" name="P_TGL_SK" nillable="true" type="string" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_ID_ASET" nillable="true" type="string" />
        <element db:index="5" db:type="NUMBER" minOccurs="0" name="P_KUANTITAS" nillable="true" type="decimal" />
        <element db:index="6" db:type="NUMBER" minOccurs="0" name="P_NILAI_PERSETUJUAN" nillable="true" type="decimal" />
        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_KD_STATUS" nillable="true" type="string" />
        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_JNS_BUKTI_LAKSANA" nillable="true" type="string" />
        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_NO_BUKTI_LAKSANA" nillable="true" type="string" />
        <element db:index="10" db:type="DATE" minOccurs="0" name="P_TGL_BUKTI_LAKSANA" nillable="true" type="string" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_KET" nillable="true" type="string" />
        <element db:index="12" db:type="VARCHAR2" minOccurs="0" name="P_NM_PHK_LAIN" nillable="true" type="string" />
        <element db:index="13" db:type="VARCHAR2" minOccurs="0" name="P_ASET_PENGGANTI_JENIS" nillable="true" type="string" />
        <element db:index="14" db:type="NUMBER" minOccurs="0" name="P_ASET_PENGGANTI_KUANTITAS" nillable="true" type="decimal" />
        <element db:index="15" db:type="NUMBER" minOccurs="0" name="P_ASET_PENGGANTI_LUAS" nillable="true" type="decimal" />
        <element db:index="16" db:type="VARCHAR2" minOccurs="0" name="P_ASET_PENGGANTI_ALAMAT" nillable="true" type="string" />
        <element db:index="17" db:type="CHAR" minOccurs="0" name="P_IS_VALID" nillable="true" type="string" />
        <element db:index="18" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="19" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="20" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>