AppPengguna/Service References/SvcWasdalRSKBongkaranDtlCrud/BPELDtlCud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/siman_wasdal/wasRekamSkBnk/BPELDtlCud" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="process">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="P_ID_SK_BNK" type="xsd:integer" />
        <xsd:element name="P_SK_KEPUTUSAN_BNK" type="xsd:string" />
        <xsd:element name="P_TGL_SK_BNK" type="xsd:string" />
        <xsd:element name="P_ID_ASET" type="xsd:integer" />
        <xsd:element name="P_KUANTITAS" type="xsd:integer" />
        <xsd:element name="P_NILAI_PERSETUJUAN" type="xsd:decimal" />
        <xsd:element name="P_KD_STATUS" type="xsd:string" />
        <xsd:element name="P_KET" type="xsd:string" />
        <xsd:element name="P_LUAS_LAYANAN" type="xsd:integer" />
        <xsd:element name="P_NM_PHK_LAIN" type="xsd:string" />
        <xsd:element name="P_NPWP_PHK_LAIN" type="xsd:string" />
        <xsd:element name="P_JANGKA_WAKTU" type="xsd:integer" />
        <xsd:element name="P_PERIODE" type="xsd:string" />
        <xsd:element name="P_DARI_TGL" type="xsd:string" />
        <xsd:element name="P_SD_TGL" type="xsd:string" />
        <xsd:element name="P_NTPN" type="xsd:string" />
        <xsd:element name="P_TGL_SETOR" type="xsd:string" />
        <xsd:element name="P_NTB" type="xsd:string" />
        <xsd:element name="P_TGL_TRANSAKSI" type="xsd:string" />
        <xsd:element name="P_NM_PENYETOR" type="xsd:string" />
        <xsd:element name="P_KD_AKUN" type="xsd:integer" />
        <xsd:element name="P_KD_PELAYANAN" type="xsd:string" />
        <xsd:element name="P_NILAI_PNBP" type="xsd:decimal" />
        <xsd:element name="P_IS_VALID" type="xsd:string" />
        <xsd:element name="p_select" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="processResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="code" type="xsd:integer" />
        <xsd:element name="message" type="xsd:string" />
        <xsd:element name="trace" type="xsd:string" />
        <xsd:element name="timeExecution" type="xsd:string" />
        <xsd:element name="data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PO_RESULT" type="xsd:string" />
              <xsd:element name="PO_RESULT_MESSAGE" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>