AppPengguna/Service References/SvcKelNotifEmail/SF_ROW_NOTIFIKASI_EMAIL_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_NOTIFIKASI_EMAIL" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_NOTIFIKASI_EMAIL" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_NOTIFIKASI_EMAIL" nillable="true" type="db:DBKELOLA.STAB_NOTIFIKASI_EMAIL" />
      </sequence>
    </complexType>
  </element>
  <complexType name="DBKELOLA.STAB_NOTIFIKASI_EMAIL">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_NOTIFIKASI_EMAIL_ITEM" nillable="true" type="db:DBKELOLA.SROW_NOTIFIKASI_EMAIL" />
    </sequence>
  </complexType>
  <complexType name="DBKELOLA.SROW_NOTIFIKASI_EMAIL">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_NOTIFIKASI" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_TIKET_KELOLA" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="PENGIRIM" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="TUJUAN" nillable="true" type="db:string3000" />
      <element db:type="VARCHAR2" minOccurs="0" name="JUDUL" nillable="true" type="db:string300" />
      <element db:type="VARCHAR2" minOccurs="0" name="CATATAN" nillable="true" type="db:string3000" />
      <element db:type="DATE" minOccurs="0" name="CREATED_DATE" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_KIRIM" nillable="true" type="db:string20" />
      <element db:type="DATE" minOccurs="0" name="TGL_KIRIM" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string3000">
    <restriction base="string">
      <maxLength value="3000" />
    </restriction>
  </simpleType>
  <simpleType name="string300">
    <restriction base="string">
      <maxLength value="300" />
    </restriction>
  </simpleType>
</schema>