AppPengguna/Service References/SvcKelSuratPermohonan/SF_ROW_ASET_KELOLA_SURAT_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_ASET_KELOLA_SURAT" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_ASET_KELOLA_SURAT" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="CHAR" minOccurs="0" name="P_COUNT" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_NO_TIKET_KELOLA" nillable="true" type="string" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_ASET_KELOLA_SURAT" nillable="true" type="db:DBKELOLA.STAB_ASET_KELOLA_SURAT" />
      </sequence>
    </complexType>
  </element>
  <complexType name="DBKELOLA.STAB_ASET_KELOLA_SURAT">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_ASET_KELOLA_SURAT_ITEM" nillable="true" type="db:DBKELOLA.SROW_ASET_KELOLA_SURAT" />
    </sequence>
  </complexType>
  <complexType name="DBKELOLA.SROW_ASET_KELOLA_SURAT">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_DOK_PERMOHONAN" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="NO_TIKET_KELOLA" nillable="true" type="db:string7" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_MNU" nillable="true" type="db:string5" />
      <element db:type="DATE" minOccurs="0" name="TGL_SURAT" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_SURAT" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="PERIHAL_SURAT" nillable="true" type="db:string150" />
      <element db:type="VARCHAR2" minOccurs="0" name="TUJUAN_SURAT" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ASAL_SURAT" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_FILE" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="KETERANGAN" nillable="true" type="db:string300" />
    </sequence>
  </complexType>
  <simpleType name="string7">
    <restriction base="string">
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="string5">
    <restriction base="string">
      <maxLength value="5" />
    </restriction>
  </simpleType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string150">
    <restriction base="string">
      <maxLength value="150" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string200">
    <restriction base="string">
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="string300">
    <restriction base="string">
      <maxLength value="300" />
    </restriction>
  </simpleType>
</schema>