AppPengguna/Service References/SvcSelectGunaB51/SF_MON_GUNA_KPKNL_B51_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_GUNA_KPKNL_B51" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_GUNA_KPKNL_B51" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_MON_GUNA_KPKNL_B51" nillable="true" type="db:WASDAL.STAB_MON_GUNA_KPKNL_B51" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.STAB_MON_GUNA_KPKNL_B51">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_MON_GUNA_KPKNL_B51_ITEM" nillable="true" type="db:WASDAL.SROW_MON_GUNA_KPKNL_B51" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.SROW_MON_GUNA_KPKNL_B51">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ASET" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="KD_JNS_BMN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_BRG" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SSKEL" nillable="true" type="db:string65" />
      <element db:type="NUMBER" minOccurs="0" name="NUP" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="LUAS" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="NIL_PERLH" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="TINGKAT_PERKARA_TK1" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_PERKARA_TK1" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENGADILAN_TK1" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_PERKARA_TK1NO_PERKARA" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_SENGKETA_TK1" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_PENGGUGAT_TK1" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_TERGUGAT_TK1" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="AMAR_PUTUSAN_TK1" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="POKOK_PERKARA_TK1" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="TINGKAT_PERKARA_TK_TGI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_PERKARA_TK_TGI" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENGADILAN_TK_TGI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_PERKARA_TK_TGI" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_SENGKETA_TK_TGI" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_PENGGUGAT_TK_TGI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_TERGUGAT_TK_TGI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="AMAR_PUTUSAN_TK_TGI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="POKOK_PERKARA_TK_TGI" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="TINGKAT_PERKARA_TK_KSI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_PERKARA_TK_KSI" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENGADILAN_TK_KSI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_PERKARA_TK_KSI" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_SENGKETA_TK_KSI" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_PENGGUGAT_TK_KSI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_TERGUGAT_TK_KSI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="AMAR_PUTUSAN_TK_KSI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="POKOK_PERKARA_TK_KSI" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="TINGKAT_PERKARA_TK_PK" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_PERKARA_TK_PK" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENGADILAN_TK_PK" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_PERKARA_TK_PK" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_SENGKETA_TK_PK" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_PENGGUGAT_TK_PK" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="PIHAK_TERGUGAT_TK_PK" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="AMAR_PUTUSAN_TK_PK" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="POKOK_PERKARA_TK_PK" nillable="true" type="db:string200" />
    </sequence>
  </complexType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string200">
    <restriction base="string">
      <maxLength value="200" />
    </restriction>
  </simpleType>
</schema>