AppPengguna/Service References/SvcMonSatkerGunaA22/SF_MON_GUNA_SATKER_A22_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_GUNA_SATKER_A22" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_GUNA_SATKER_A22" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_MON_GUNA_SATKER_A22" nillable="true" type="db:WASDAL.STAB_MON_GUNA_SATKER_A22" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.SROW_MON_GUNA_SATKER_A22">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="KD_JNS_BMN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="PENGELOLA_KUANTITAS_PSP_N" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="PENGELOLA_LUAS_PSP_N" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="PENGELOLA_NIL_PERLH_PSP_N" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="PENGGUNA_KUANTITAS_PSP_N" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="PENGGUNA_LUAS_PSP_N" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="PENGGUNA_NIL_PERLH_PSP_N" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.STAB_MON_GUNA_SATKER_A22">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_MON_GUNA_SATKER_A22_ITEM" nillable="true" type="db:WASDAL.SROW_MON_GUNA_SATKER_A22" />
    </sequence>
  </complexType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
</schema>