AppPengguna/Service References/SvcMonEselon1PenertibanA1/SF_MON_ESELON1_PENERTIBAN_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_ESELON1_PENERTIBAN" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_ESELON1_PENERTIBAN" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_COUNT" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_MON_ESELON1_PENERTIBAN" nillable="true" type="db:WASDAL.STAB_MON_ESELON1_PENERTIBAN" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.STAB_MON_ESELON1_PENERTIBAN">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_MON_ESELON1_PENERTIBAN_ITEM" nillable="true" type="db:WASDAL.SROW_MON_ESELON1_PENERTIBAN" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.SROW_MON_ESELON1_PENERTIBAN">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_PENERTIBAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_USER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENGGUNA" nillable="true" type="db:string30" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_BRG" nillable="true" type="db:string10" />
      <element db:type="NUMBER" minOccurs="0" name="NUP" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NOREG" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SSKEL" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="KUASA_PENGGUNA_BRG" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="KET" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="THN_ANG" nillable="true" type="db:string4" />
      <element db:type="VARCHAR2" minOccurs="0" name="DASAR_PENERTIBAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_LAPORAN" nillable="true" type="db:string50" />
      <element db:type="DATE" minOccurs="0" name="TGL_LAPORAN" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="BENTUK_PENERTIBAN" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_BENTUK_PENERTIBAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_SURAT_PENERTIBAN" nillable="true" type="db:string50" />
      <element db:type="DATE" minOccurs="0" name="TGL_SURAT_PENERTIBAN" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="URAIAN_PENERTIBAN_LAIN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="TINDAK_LANJUT_HSL" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KL" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KL" nillable="true" type="db:string60" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KORWIL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ESELON1" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="string200">
    <restriction base="string">
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="string4">
    <restriction base="string">
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string3">
    <restriction base="string">
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="string60">
    <restriction base="string">
      <maxLength value="60" />
    </restriction>
  </simpleType>
</schema>