AppPengguna/Service References/SvcPnbpValidasiSatker/SP_CUD_PNBP_SIMAN_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_CUD_PNBP_SIMAN" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_CUD_PNBP_SIMAN" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_PERIODE" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_NTPN" nillable="true" type="string" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_NTB" nillable="true" type="string" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_KD_BILLING" nillable="true" type="string" />
        <element db:index="5" db:type="DATE" minOccurs="0" name="P_TANGGAL" nillable="true" type="dateTime" />
        <element db:index="6" db:type="NUMBER" minOccurs="0" name="P_NIL_PNBP_SPAN" nillable="true" type="decimal" />
        <element db:index="7" db:type="NUMBER" minOccurs="0" name="P_NIL_PNBP_SIMAN" nillable="true" type="decimal" />
        <element db:index="8" db:type="NUMBER" minOccurs="0" name="P_SELISIH" nillable="true" type="decimal" />
        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_KD_AKUN" nillable="true" type="string" />
        <element db:index="10" db:type="VARCHAR2" minOccurs="0" name="P_UR_PENDAPATAN" nillable="true" type="string" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_KD_SATKER_SPAN" nillable="true" type="string" />
        <element db:index="12" db:type="NUMBER" minOccurs="0" name="P_ID_SATKER" nillable="true" type="decimal" />
        <element db:index="13" db:type="VARCHAR2" minOccurs="0" name="P_KD_SATKER" nillable="true" type="string" />
        <element db:index="14" db:type="VARCHAR2" minOccurs="0" name="P_UR_SATKER" nillable="true" type="string" />
        <element db:index="15" db:type="VARCHAR2" minOccurs="0" name="P_SK_KEPUTUSAN" nillable="true" type="string" />
        <element db:index="16" db:type="VARCHAR2" minOccurs="0" name="P_CATATAN" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="17" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="18" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>