AppPengguna/Service References/SvcAkun/SF_ROW_T_BAS_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_T_BAS" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_T_BAS" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_T_BAS" nillable="true" type="db:BPSIMAN.STAB_T_BAS" />
      </sequence>
    </complexType>
  </element>
  <complexType name="BPSIMAN.STAB_T_BAS">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_T_BAS_ITEM" nillable="true" type="db:BPSIMAN.SROW_T_BAS" />
    </sequence>
  </complexType>
  <complexType name="BPSIMAN.SROW_T_BAS">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_BAS" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="KDMAKMAP" nillable="true" type="db:string6" />
      <element db:type="VARCHAR2" minOccurs="0" name="NMMAKMAP" nillable="true" type="db:string300" />
      <element db:type="DATE" minOccurs="0" name="TGL_UPDATE" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="string6">
    <restriction base="string">
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="string300">
    <restriction base="string">
      <maxLength value="300" />
    </restriction>
  </simpleType>
</schema>