AppPengguna/Service References/SvcAsetPhotoSelect/SF_ROW_M_ASET_PHOTO_sp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_M_ASET_PHOTO" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_M_ASET_PHOTO" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_M_ASET_PHOTO" nillable="true" type="db:BPSIMAN.STAB_M_ASET_PHOTO" />
      </sequence>
    </complexType>
  </element>
  <complexType name="BPSIMAN.STAB_M_ASET_PHOTO">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_M_ASET_PHOTO_ITEM" nillable="true" type="db:BPSIMAN.SROW_M_ASET_PHOTO" />
    </sequence>
  </complexType>
  <complexType name="BPSIMAN.SROW_M_ASET_PHOTO">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_PHOTO" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ASET" nillable="true" type="decimal" />
      <element db:type="BLOB" minOccurs="0" name="PHOTO" nillable="true" type="base64Binary" />
      <element db:type="VARCHAR2" minOccurs="0" name="KET_PHOTO" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PHOTO" nillable="true" type="db:string150" />
      <element db:type="CHAR" minOccurs="0" name="PHOTO_UTAMA_YN" nillable="true" type="db:string1" />
    </sequence>
  </complexType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string150">
    <restriction base="string">
      <maxLength value="150" />
    </restriction>
  </simpleType>
  <simpleType name="string1">
    <restriction base="string">
      <maxLength value="1" />
    </restriction>
  </simpleType>
</schema>