AppPengguna/Service References/SvcKelMainSelect/SF_ROW_GRID_KELOLA_ALL_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_GRID_KELOLA_ALL" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_GRID_KELOLA_ALL" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_LEVEL_AKTIF" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_GRID_KELOLA_ALL" nillable="true" type="db:DBKELOLA.STAB_GRID_KELOLA_ALL" />
      </sequence>
    </complexType>
  </element>
  <complexType name="DBKELOLA.SROW_GRID_KELOLA_ALL">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="NO_TIKET_KELOLA" nillable="true" type="db:string7" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_PEMOHON" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="TIPE_PEMOHON" nillable="true" type="db:string20" />
      <element db:type="CHAR" minOccurs="0" name="IS_TB" nillable="true" type="db:string1" />
      <element db:type="NUMBER" minOccurs="0" name="THN_ANGGARAN" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="KD_PELAYANAN" nillable="true" type="db:string2" />
      <element db:type="NUMBER" minOccurs="0" name="ID_PENGELOLA" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="TIPE_PENGELOLA" nillable="true" type="db:string20" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ANALIS" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="SK_KEPUTUSAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_SK" nillable="true" type="db:string20" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU_PENGGUNA" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU_PENGELOLA" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_MODE" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_PROSES" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_DOK" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PELAYANAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PROSES" nillable="true" type="db:string250" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_SURAT" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_SURAT" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="TUJUAN_SURAT" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string25" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string100" />
      <element db:type="CHAR" minOccurs="0" name="TETAPKAN_PENGGUNA_YN" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_SATKER" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_KORWIL" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_ES" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_KL" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_KPKNL" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_KANWIL" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_KIRIM_KP" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_INSTANSI" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="KUANTITAS" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="LUAS_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="TGL_TIKET" nillable="true" type="db:string20" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_PENETAPAN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="URAIAN_KEPUTUSAN" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="NAMA_PENANDATANGAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NIP_PENANDATANGAN" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="JABATAN_PENANDATANGAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENYEWA" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_PENYEWA" nillable="true" type="db:string200" />
      <element db:type="CHAR" minOccurs="0" name="BATASAN_WAKTU_YN" nillable="true" type="db:string1" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="PERIODE" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="PERUNTUKAN" nillable="true" type="db:string100" />
      <element db:type="CHAR" minOccurs="0" name="KD_KL_LAIN" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KL_LAIN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_KL_LAIN" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_MITRA" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_MITRA" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_ASET_PENGGANTI" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="LUAS_ASET_PENGGANTI" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="KUANTITAS_ASET_PENGGANTI" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="LOKASI_ASET_PENGGANTI" nillable="true" type="db:string300" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENERIMA_HIBAH" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_PENERIMA_HIBAH" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALAMAT_BUMN" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_BUMN" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KORWIL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KORWIL" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KORWIL" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ESELON1" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_ESELON1" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_ESELON1" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KL" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KL" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KPKNL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KPKNL" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KPKNL" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KANWIL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KANWIL" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KANWIL" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_KONTRIBUSI_TAHUNAN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_INSTANSI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PEMOHON" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="LUAS_DIMANFAATKAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_PENGGANTI" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KETERANGAN" nillable="true" type="db:string300" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_WAJAR" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_FILE" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALASAN_PEMUSNAHAN" nillable="true" type="db:string300" />
      <element db:type="NUMBER" minOccurs="0" name="LUAS_DISEWAKAN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="ALASAN_PENGHAPUSAN" nillable="true" type="db:string300" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_PENGADILAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_PROSES" nillable="true" type="db:string5" />
      <element db:type="VARCHAR2" minOccurs="0" name="EMAIL_SATKER" nillable="true" type="db:string300" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_KUANTITAS" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_LUAS" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_NILAI_PENETAPAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_LUAS_DIMANFAATKAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_NILAI_WAJAR" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_KONTRIBUSI_TAHUNAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_QTY_PENGGANTI" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_LUAS_PENGGANTI" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_NILAI_PENGGANTI" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="DBKELOLA.STAB_GRID_KELOLA_ALL">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_GRID_KELOLA_ALL_ITEM" nillable="true" type="db:DBKELOLA.SROW_GRID_KELOLA_ALL" />
    </sequence>
  </complexType>
  <simpleType name="string7">
    <restriction base="string">
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string1">
    <restriction base="string">
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="string2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string250">
    <restriction base="string">
      <maxLength value="250" />
    </restriction>
  </simpleType>
  <simpleType name="string25">
    <restriction base="string">
      <maxLength value="25" />
    </restriction>
  </simpleType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string200">
    <restriction base="string">
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="string3">
    <restriction base="string">
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="string300">
    <restriction base="string">
      <maxLength value="300" />
    </restriction>
  </simpleType>
  <simpleType name="string10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="string5">
    <restriction base="string">
      <maxLength value="5" />
    </restriction>
  </simpleType>
</schema>