AppPengguna/Service References/SvcWasdalPenertibanCud/SP_WASDAL_PENERTIBAN_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_WASDAL_PENERTIBAN" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_WASDAL_PENERTIBAN" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:default="true" db:type="NUMBER" minOccurs="0" name="P_ID_PENERTIBAN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_ID_USER" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_NM_PENGGUNA" nillable="true" type="string" />
        <element db:index="4" db:type="NUMBER" minOccurs="0" name="P_ID_SATKER" nillable="true" type="decimal" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_KD_SATKER" nillable="true" type="string" />
        <element db:index="6" db:type="VARCHAR2" minOccurs="0" name="P_UR_SATKER" nillable="true" type="string" />
        <element db:index="7" db:type="NUMBER" minOccurs="0" name="P_ID_ASET" nillable="true" type="decimal" />
        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_KD_BRG" nillable="true" type="string" />
        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_NUP" nillable="true" type="string" />
        <element db:index="10" db:type="VARCHAR2" minOccurs="0" name="P_NOREG" nillable="true" type="string" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_UR_SSKEL" nillable="true" type="string" />
        <element db:index="12" db:type="VARCHAR2" minOccurs="0" name="P_KUASA_PENGGUNA_BRG" nillable="true" type="string" />
        <element db:index="13" db:type="VARCHAR2" minOccurs="0" name="P_KET" nillable="true" type="string" />
        <element db:index="14" db:type="VARCHAR2" minOccurs="0" name="P_THN_ANG" nillable="true" type="string" />
        <element db:index="15" db:type="VARCHAR2" minOccurs="0" name="P_DASAR_PENERTIBAN" nillable="true" type="string" />
        <element db:index="16" db:type="VARCHAR2" minOccurs="0" name="P_NO_LAPORAN" nillable="true" type="string" />
        <element db:index="17" db:type="DATE" minOccurs="0" name="P_TGL_LAPORAN" nillable="true" type="string" />
        <element db:index="18" db:type="VARCHAR2" minOccurs="0" name="P_BENTUK_PENERTIBAN" nillable="true" type="string" />
        <element db:index="19" db:type="VARCHAR2" minOccurs="0" name="P_UR_BENTUK_PENERTIBAN" nillable="true" type="string" />
        <element db:index="20" db:type="VARCHAR2" minOccurs="0" name="P_NO_SURAT_PENERTIBAN" nillable="true" type="string" />
        <element db:index="21" db:type="DATE" minOccurs="0" name="P_TGL_SURAT_PENERTIBAN" nillable="true" type="string" />
        <element db:index="22" db:type="VARCHAR2" minOccurs="0" name="P_URAIAN_PENERTIBAN_LAIN" nillable="true" type="string" />
        <element db:index="23" db:type="VARCHAR2" minOccurs="0" name="P_TINDAK_LANJUT_HSL" nillable="true" type="string" />
        <element db:index="24" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="25" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="26" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>