AppPengguna/Service References/SvcLapMonWasdalCud/SP_MON_LAP_WASDAL_sp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_MON_LAP_WASDAL" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_MON_LAP_WASDAL" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:default="true" db:type="NUMBER" minOccurs="0" name="P_ID_MON_LAP" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_ID_SATKER" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_KD_SATKER" nillable="true" type="string" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_UR_SATKER" nillable="true" type="string" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_NO_SURAT" nillable="true" type="string" />
        <element db:index="6" db:type="DATE" minOccurs="0" name="P_TGL_SURAT" nillable="true" type="string" />
        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_THN_ANG" nillable="true" type="string" />
        <element db:index="8" db:type="CHAR" minOccurs="0" name="P_STATUS_KIRIM" nillable="true" type="string" />
        <element db:index="9" db:type="DATE" minOccurs="0" name="P_TGL_KIRIM" nillable="true" type="string" />
        <element db:index="10" db:type="DATE" minOccurs="0" name="P_TGL_DITERIMA" nillable="true" type="string" />
        <element db:index="11" db:type="CHAR" minOccurs="0" name="P_IS_TEPAT_WAKTU" nillable="true" type="string" />
        <element db:index="12" db:type="CHAR" minOccurs="0" name="P_SELECT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="13" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="14" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>