AppPengguna/Service References/SvcGridPnbpRekap/SF_GRID_REKAP_PNBP_SPAN_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_GRID_REKAP_PNBP_SPAN" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_GRID_REKAP_PNBP_SPAN" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_COUNT" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_GRID_REKAP_PNBP_SPAN" nillable="true" type="db:WASDAL.STAB_GRID_REKAP_PNBP_SPAN" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.SROW_GRID_REKAP_PNBP_SPAN">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="PERIODE" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="NIL_PNBP_SIMAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="NIL_PNBP_SPAN" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="SELISIH" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KET" nillable="true" type="db:string500" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.STAB_GRID_REKAP_PNBP_SPAN">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_GRID_REKAP_PNBP_SPAN_ITEM" nillable="true" type="db:WASDAL.SROW_GRID_REKAP_PNBP_SPAN" />
    </sequence>
  </complexType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string500">
    <restriction base="string">
      <maxLength value="500" />
    </restriction>
  </simpleType>
</schema>