AppPengguna/Service References/SvcWasdalAsetSelect/SF_ROW_WASDAL_M_ASET_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_WASDAL_M_ASET" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_WASDAL_M_ASET" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_COUNT" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_WASDAL_M_ASET" nillable="true" type="db:WASDAL.STAB_WASDAL_M_ASET" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.STAB_WASDAL_M_ASET">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_WASDAL_M_ASET_ITEM" nillable="true" type="db:WASDAL.SROW_WASDAL_M_ASET" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.SROW_WASDAL_M_ASET">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ASET" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="KD_JNS_BMN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NM_JNS_BMN" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_WILESELON" nillable="true" type="db:string9" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KANWIL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KORWIL" nillable="true" type="db:string4" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_ESELONKL" nillable="true" type="db:string5" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_WIL" nillable="true" type="db:string60" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KORWIL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_ESELON1" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_ESELON1" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KL" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_ESELON1" nillable="true" type="db:string65" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KL" nillable="true" type="db:string60" />
      <element db:type="CHAR" minOccurs="0" name="KD_KANWIL" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KANWIL" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_BRG" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SKELBRG" nillable="true" type="db:string7" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SSKEL" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="SATUAN" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SSKEL" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_PERK" nillable="true" type="db:string6" />
      <element db:type="VARCHAR2" minOccurs="0" name="DASAR" nillable="true" type="db:string30" />
      <element db:type="VARCHAR2" minOccurs="0" name="KDPERKBR" nillable="true" type="db:string6" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_KELBRG" nillable="true" type="db:string5" />
      <element db:type="CHAR" minOccurs="0" name="KD_SKEL" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SKEL" nillable="true" type="db:string65" />
      <element db:type="CHAR" minOccurs="0" name="KD_KEL" nillable="true" type="db:string2" />
      <element db:type="CHAR" minOccurs="0" name="KD_BIDBRG" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KEL" nillable="true" type="db:string65" />
      <element db:type="CHAR" minOccurs="0" name="KD_BID" nillable="true" type="db:string2" />
      <element db:type="CHAR" minOccurs="0" name="KD_GOL" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_BID" nillable="true" type="db:string65" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_GOL" nillable="true" type="db:string30" />
      <element db:type="CHAR" minOccurs="0" name="KD_KONDISI" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_KONDISI" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="NO_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="THN_ANG" nillable="true" type="db:string4" />
      <element db:type="VARCHAR2" minOccurs="0" name="PERIODE" nillable="true" type="db:string2" />
      <element db:type="CHAR" minOccurs="0" name="TERCATAT" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_TERCATAT" nillable="true" type="db:string50" />
      <element db:type="CHAR" minOccurs="0" name="KD_DSR_HRG" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_DSR_HRG" nillable="true" type="db:string50" />
      <element db:type="CHAR" minOccurs="0" name="KD_DATA" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_DATA" nillable="true" type="db:string50" />
      <element db:type="CHAR" minOccurs="0" name="FLAG_KOR" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="MERK" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="TIPE" nillable="true" type="db:string50" />
      <element db:type="CHAR" minOccurs="0" name="KDBLU" nillable="true" type="db:string1" />
      <element db:type="CHAR" minOccurs="0" name="FLAG_TTP" nillable="true" type="db:string1" />
      <element db:type="CHAR" minOccurs="0" name="FLAG_KRM" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="NOREG" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="KDBAPEL" nillable="true" type="db:string5" />
      <element db:type="VARCHAR2" minOccurs="0" name="KDKPKNL" nillable="true" type="db:string5" />
      <element db:type="VARCHAR2" minOccurs="0" name="URKPKNL" nillable="true" type="db:string50" />
      <element db:type="FLOAT" minOccurs="0" name="UMEKO" nillable="true" type="float" />
      <element db:type="NUMBER" minOccurs="0" name="RPH_RES" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KDKPPN" nillable="true" type="db:string5" />
      <element db:type="VARCHAR2" minOccurs="0" name="URKPPN" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_STATUS" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_STATUS" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="LOKASI" nillable="true" type="db:string200" />
      <element db:type="NUMBER" minOccurs="0" name="RPH_ASET" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="RPH_SUSUT" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="RPH_MUTASI" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_SBLM_SUSUT" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_BUKU" nillable="true" type="decimal" />
      <element db:type="DATE" minOccurs="0" name="TGL_REKAM" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="ID_PENGADAAN" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_DANA" nillable="true" type="db:string50" />
      <element db:type="DATE" minOccurs="0" name="TGL_DANA" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="DARI" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="ASL_PERLH" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_PERLH" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_SK_PERENCANAAN" nillable="true" type="db:string50" />
      <element db:type="VARCHAR2" minOccurs="0" name="KET_PENGADAAN" nillable="true" type="db:string255" />
      <element db:type="CHAR" minOccurs="0" name="STATUS_BMN_YN" nillable="true" type="db:string1" />
      <element db:type="NUMBER" minOccurs="0" name="ID_BAS_KEL" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_BAS" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="BPYBDS_YN" nillable="true" type="db:string1" />
      <element db:type="CHAR" minOccurs="0" name="FLAG_SAP" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_KELOLA" nillable="true" type="db:string100" />
      <element db:type="CHAR" minOccurs="0" name="KD_PELAYANAN" nillable="true" type="db:string2" />
      <element db:type="NUMBER" minOccurs="0" name="ID_MUTASI_DTL" nillable="true" type="decimal" />
      <element db:type="DATE" minOccurs="0" name="TGL_BUKU" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="BLN_BUKU" nillable="true" type="db:string2" />
      <element db:type="VARCHAR2" minOccurs="0" name="THN_BUKU" nillable="true" type="db:string4" />
      <element db:type="NUMBER" minOccurs="0" name="KUANTITAS" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="INTRA_EXTRA" nillable="true" type="db:string10" />
      <element db:type="VARCHAR2" minOccurs="0" name="JNS_TRN" nillable="true" type="db:string3" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_TRN" nillable="true" type="db:string80" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_AKUN" nillable="true" type="db:string6" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_AKUN" nillable="true" type="db:string300" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_BUKTI" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_SAT" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="KD_SUMBER_DANA" nillable="true" type="db:string1" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SUMBER_DANA" nillable="true" type="db:string30" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_DATA" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="SUM_RPH_ASET" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="SUM_RPH_SUSUT" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="SUM_RPH_MUTASI" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="IN_KD_PELAYANAN" nillable="true" type="db:string4" />
      <element db:type="VARCHAR2" minOccurs="0" name="IN_NM_PELAYANAN" nillable="true" type="db:string200" />
      <element db:type="NUMBER" minOccurs="0" name="JML_PHOTO" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER_PARENT" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KETERANGAN" nillable="true" type="db:string200" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_DSR_MTS" nillable="true" type="db:string50" />
      <element db:type="NUMBER" minOccurs="0" name="ID_KPKNL" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string9">
    <restriction base="string">
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="string4">
    <restriction base="string">
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="string5">
    <restriction base="string">
      <maxLength value="5" />
    </restriction>
  </simpleType>
  <simpleType name="string60">
    <restriction base="string">
      <maxLength value="60" />
    </restriction>
  </simpleType>
  <simpleType name="string2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="string3">
    <restriction base="string">
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="string10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="string7">
    <restriction base="string">
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="string6">
    <restriction base="string">
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string1">
    <restriction base="string">
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string200">
    <restriction base="string">
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="string255">
    <restriction base="string">
      <maxLength value="255" />
    </restriction>
  </simpleType>
  <simpleType name="string80">
    <restriction base="string">
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="string300">
    <restriction base="string">
      <maxLength value="300" />
    </restriction>
  </simpleType>
</schema>