AppPengguna/Service References/SvcKelPilihAsetSum/SP_TIKET_KELOLA_PERIKSA_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TIKET_KELOLA_PERIKSA" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TIKET_KELOLA_PERIKSA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_KODE_PELAYANAN" nillable="true" type="string" />
        <element db:index="8" db:type="CHAR" minOccurs="0" name="P_IS_TB" nillable="true" type="string" />
        <element db:index="9" db:type="NUMBER" minOccurs="0" name="P_ID_SATKER" nillable="true" type="decimal" />
        <element db:index="10" db:type="NUMBER" minOccurs="0" name="P_ID_KL" nillable="true" type="decimal" />
        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_NO_TIKET_KELOLA" nillable="true" type="string" />
        <element db:index="12" db:type="VARCHAR2" minOccurs="0" name="P_LEVEL_AKTIF" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="PO_KET_PEMOHON" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="PO_KET_PENGELOLA" nillable="true" type="string" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="PO_TUJUAN_TIKET" nillable="true" type="string" />
        <element db:index="4" db:type="NUMBER" minOccurs="0" name="PO_NILAI_TOTAL_BUKU" nillable="true" type="decimal" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="6" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>