AppPengguna/Service References/SvcKelFaktorPengurang/SF_ROW_T_FAKTOR_PENGURANG_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_T_FAKTOR_PENGURANG" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_ROW_T_FAKTOR_PENGURANG" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_NO_TIKET_KELOLA" nillable="true" type="string" />
        <element db:index="2" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_ROW_T_FAKTOR_PENGURANG" nillable="true" type="db:DBKELOLA.STAB_T_FAKTOR_PENGURANG_HKERJA" />
      </sequence>
    </complexType>
  </element>
  <complexType name="DBKELOLA.SROW_T_FAKTOR_PENGURANG_HKERJA">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="ID_FAKTOR_PENGURANG" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="NO_TIKET_KELOLA" nillable="true" type="db:string7" />
      <element db:type="VARCHAR2" minOccurs="0" name="FAKTOR_PENGURANG" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="KET_PENGURANG" nillable="true" type="db:string100" />
      <element db:type="NUMBER" minOccurs="0" name="JML_HARI" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="TOTAL_HARI" nillable="true" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="DBKELOLA.STAB_T_FAKTOR_PENGURANG_HKERJA">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_ROW_T_FAKTOR_PENGURANG_ITEM" nillable="true" type="db:DBKELOLA.SROW_T_FAKTOR_PENGURANG_HKERJA" />
    </sequence>
  </complexType>
  <simpleType name="string7">
    <restriction base="string">
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
</schema>