AppPengguna/Service References/SvcWasdalManfaatTdLanjutFile/SP_TINDAK_LANJUT_FILE_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TINDAK_LANJUT_FILE" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_TINDAK_LANJUT_FILE" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_NO_BUKTI_LAKSANA" nillable="true" type="string" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_SK_KEPUTUSAN" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="PO_RESULT_MESSAGE" nillable="true" type="string" />
        <element db:index="3" db:type="BLOB" minOccurs="0" name="PO_FILE_BUKTI" nillable="true" type="base64Binary" />
      </sequence>
    </complexType>
  </element>
</schema>