AppPengguna/Service References/SvcMonSatkerManfaatA251/SF_MON_MANFAAT_SATKER_A251_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_MANFAAT_SATKER_A251" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SF_MON_MANFAAT_SATKER_A251" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="NUMBER" minOccurs="0" name="P_MIN" nillable="true" type="decimal" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_MAX" nillable="true" type="decimal" />
        <element db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" name="STR_WHERE" nillable="true" type="string" />
        <element db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_COL" nillable="true" type="string" />
        <element db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" name="P_SORT" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="0" db:type="Array" minOccurs="0" name="SF_MON_MANFAAT_SATKER_A251" nillable="true" type="db:WASDAL.STAB_MON_MANFAAT_SATKER_A251" />
      </sequence>
    </complexType>
  </element>
  <complexType name="WASDAL.STAB_MON_MANFAAT_SATKER_A251">
    <sequence>
      <element db:type="Struct" minOccurs="0" maxOccurs="unbounded" name="SF_MON_MANFAAT_SATKER_A251_ITEM" nillable="true" type="db:WASDAL.SROW_MON_MANFAAT_SATKER_A251" />
    </sequence>
  </complexType>
  <complexType name="WASDAL.SROW_MON_MANFAAT_SATKER_A251">
    <sequence>
      <element db:type="NUMBER" minOccurs="0" name="NUM" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SK_WASDAL_MANFAAT" nillable="true" type="decimal" />
      <element db:type="CHAR" minOccurs="0" name="KD_PELAYANAN" nillable="true" type="db:string2" />
      <element db:type="NUMBER" minOccurs="0" name="ID_SATKER" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_SATKER" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SATKER" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="SK_KEPUTUSAN" nillable="true" type="db:string70" />
      <element db:type="DATE" minOccurs="0" name="TGL_SK" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="KD_BRG" nillable="true" type="db:string20" />
      <element db:type="VARCHAR2" minOccurs="0" name="UR_SSKEL" nillable="true" type="db:string65" />
      <element db:type="NUMBER" minOccurs="0" name="NUP" nillable="true" type="decimal" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU_SETUJU" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_BUKTI_LAKSANA" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_BUKTI_LAKSANA" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_REKAM_PERJANJIAN" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_REKAM_PERJANJIAN" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="JANGKA_WAKTU_TL" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="NTPN" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_SETOR" nillable="true" type="dateTime" />
      <element db:type="NUMBER" minOccurs="0" name="NILAI_PNBP_ASET" nillable="true" type="decimal" />
      <element db:type="VARCHAR2" minOccurs="0" name="STATUS_PERJANJIAN" nillable="true" type="db:string100" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_BAST" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_BAST" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="NO_LAP_PENGELOLA" nillable="true" type="db:string100" />
      <element db:type="DATE" minOccurs="0" name="TGL_LAP_PENGELOLA" nillable="true" type="dateTime" />
      <element db:type="VARCHAR2" minOccurs="0" name="KESESUAIAN" nillable="true" type="db:string20" />
    </sequence>
  </complexType>
  <simpleType name="string2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string70">
    <restriction base="string">
      <maxLength value="70" />
    </restriction>
  </simpleType>
  <simpleType name="string65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
</schema>